.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.signUpContainer {
  display: flex;
  justify-content: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.confirmationContainer {
  background: url("../src/assets/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
